:host {
    display: flex;
    align-items: flex-start;
}

div, figure {
    width: 50%;
}

img {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
}

.derecho {
    padding-left: 0.5rem;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;

    padding: 0.25rem;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 0.25rem;
    font-size: 0.5rem;
}