<div *ngIf="video" class="contenedor">
    <figure class="izquierdo">
        <a routerLink="reproductor/{{video.id}}">
            <img src="https://i.ytimg.com/vi/{{video.urlFoto}}">
        </a>
        <figcaption>{{video.horas | number:'2.0-0' }}:{{video.minutos | number:'2.0-0' }}:{{video.segundos |
            number:'2.0-0'}}</figcaption>
    </figure>
    <div class="derecho">
        <h2>{{video.titulo}}</h2>
        <p>{{video.descripcion}}</p>
        <app-valoracion [valoracion]="video.valoracion" (valoracionChange)="onValoracionChange($event)"/>
    </div>
</div>
