<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Portátil</td>
            <td>1234,12€</td>
            <td>
                <a routerLink="form/1">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Portátil</td>
            <td>1234,12€</td>
            <td>
                <a routerLink="form/2">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>Portátil</td>
            <td>1234,12€</td>
            <td>
                <a routerLink="form/3">Editar</a>
                <a href="#">Borrar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a routerLink="form">Añadir</a>
            </td>
        </tr>
    </tfoot>
</table>